*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 3.5px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: #FFF;
    box-sizing: border-box;
    font-size: 1.6rem;
}

/*Meet founders*/
.founder-scroller {
	  display: flex;
	  flex-direction:row;
	  overflow-x: auto;
	  width: 63vw;
	
	}
	
	.founder-scroller-div {
	 margin-left: -5px;
	  margin-right: 5px;
	  margin-bottom: 25px;
	 
	}

.founders-logo-area {
    background-color: transparent;
	padding: 1px 0 10px;
	border-radius: 5px;
	width: 100%;
}

.needs-titles {
	width: 11vw;
	color: #422736;
	
	}
	.needs-titles p {
		font-size: 1.5rem;	
	}
	.needs-titles h2 {
		font-size: 2rem;
	
	}
	.needs-titles h1 {
	font-size: 2rem;
	
	}

.founder-meet__image {
    width: 100px;
	height: 100px;
	background-size:contain;
	background-repeat:no-repeat;
	border-radius: 50%;
}

.meet-our-founders {
    margin: 7rem -5rem 0rem 0rem;
    text-align: center;
    color: #422736;
    ;
}

.heading-secondary--main {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #422736;
}

.heading-secondary--sub {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 8rem;
    color: #422736;
}

.video{
	background-color:#F38181;
  color: #fff;
  font-size: 2rem;
  text-decoration:none;
  border-radius: 30px;
  width: 150px;
  padding: 5px 10px;
  margin: 15px 0;
  height: 40px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: center;
}

/*TEAM*/
/*end of popup*/

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  min-height: 23vh;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: #030303;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/*end of popup*/

.members-area {
        min-height: 20vh;
		background-color: #ffffff;
		width: 30vw;
    }
	
.sthml-section__image {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 24vw;
    height: 30vh;
    margin-top:0px;
    margin-left: 0px;
    color: #fff;
	margin-left: 2rem;
}

.sthml-section__image--sthml {
    background-image: linear-gradient( #422736 0%, rgba(66, 39, 54, 0.83) 17.69%, rgba(66, 39, 54, 0.66) 30.94%, rgba(66, 39, 54, 0.3) 54.05%, rgba(185, 225, 220, 0.72) 99.45%), url("../Materials/aboutus/sthlm_1024.jpg");
}

.sthml-section__title {
    font-size: 4.5rem;
    font-weight: 500;
	padding-top:18%;
	text-align:center;
}
	

	
.members-area__wrapper {
   width: 80%;
 	margin-top: 0px;
	margin-left: 5rem;
   margin-bottom: 50px;
   padding-bottom: 4rem;
   display: grid;
  
  
   grid-template-rows: repeat(4, minmax(82px, auto));
   grid-gap: 2px;
   grid-auto-flow: column;
   overflow: auto;
   
    display:-ms-grid;
   -ms-grid-rows: 100px 4;
}

.members-area-div {
	padding: 1px 0 10px;
	border-radius: 5px;
	width: 100%;
}
.founder-profile__image {
    width: 80px;
	height: 80px;
	background-size:contain;
	background-repeat:no-repeat;
	border-radius: 50%;
}



.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    margin: 5rem 0rem;
    font-size: 5rem;
}

.btn--round {
    border-radius: 15px;
	height:300px;
	width:350px;
	word-wrap: break-word;
}
	@media (max-width: 500px) {
    .btn--round {
		margin:0;
		} 
	}
		
.btn--pink {
    color: white;
    background-color: #F38181;
}

.btn--pink h2 {
	font-size:3.72rem;
}
.btn--pink p {
	font-size:2.5rem;
}

.feedback-holder p{
	text-align:left;
}

	
@media (max-width:576px){
	.hel-map img{
	width:100%;
	height:auto;
	margin:0;}
	.row {
	display:block;
	}
	.btn--round {
		width:50%;
		height:50%;
	}
	.btn--pink h2 {
			font-size:4.3rem;
		}
		.btn--pink p{
			font-size:3rem;
		}
		.video h2{
			font-size:5rem;
		}
		.video{
			width:20px;
			height:15px;
		}
		.col-12{
	background-color:#ebf5f6;
	
}
			
}

.btn--blue {
    background-color: #69B2A9;
    color: #fff;
	border-radius:10rem;
	width:200px;
	height:50px;
	font-size:2.5rem;
}

/* width */

::-webkit-scrollbar {
    height: 1.5rem;
    width: 1rem;
}


/* Track */

::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #a4e4dc;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #a4e4dc;
    border-radius: 10px;
}


@media only screen and (min-width:577px) {
    html {
        font-size: 8px;
    }
    .header__information {
        font-size: 1.2rem;
    }
    .header__detail--data {
        font-size: 2.5rem;
    }
    .content {
        font-size: 1.8rem;
    }
    .top-footer__input {
        line-height: 2.5;
    }
	
	
	
	 .sthml-section__image {
        width: 30vw;
		height: 24rem;
		padding: 0rem 3rem;
		margin-top: 38px;
		margin-left: 5px;
    }
    .sthml-section__image--sthml {
    }
	
	
	
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 7.6px;
    }
    .fa-bars {
        display: none;
    }
    .header__menu {
        display: block;
        background-color: rgba(76, 91, 92, 0);
        text-align: right;
        width: 100%;
        height: 0;
    }
    .header__menu ul {
        line-height: 2.6;
        position: absolute;
        right: 1.5rem;
        top: 3rem;
    }
    .header__menu ul li:active {
        background-color: rgba(0, 0, 0, 0);
    }
    .header__navigation {
        display: block;
        list-style: none;
        position: absolute;
    }
    .header__menu .header__navigation li {
        line-height: 1.8;
        display: inline-block;
        margin-right: 3rem;
        text-decoration: none;
        color: #B9E1DC;
        font-size: 1.6rem;
    }
    .header__navigation a li:hover {
        border-bottom: solid 3px;
    }
    .header__navigation a:last-child li {
        border: solid 2px #ED5858;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 7px;
    }
    .header__navigation a:last-child li:hover {
        border: solid 2px #ED5858;
        background-color: #ED5858;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 7px;
    }
    .header__text-box {
        top: 60%;
    }
    .btn:link,
    .btn:visited {
        font-size: 2.9rem;
    }
    .header__information {
        font-size: 2rem;
    }
    .header__detail--data {
        font-size: 3.7rem;
    }
    .content {
        font-size: 2.5rem;
    }
    .top-footer__infor {
        padding: 1rem 20vw 6rem 20vw;
    }
    .top-footer__form {
        position: relative;
        height: 50rem;
    }
    .top-footer__input {
        width: 25vw;
        left: none;
        transform: translate(0);
    }
    .top-footer__input::placeholder {
        font-size: 1.6rem;
    }
    #fn {
        left: 23vw;
    }
    #ln {
        top: 0;
        left: 52%;
    }
    #company {
        top: 6rem;
        left: 23vw;
    }
    #country {
        top: 6rem;
        left: 52%;
    }
    #email {
        top: 12rem;
        left: 23vw;
    }
    #budget {
        top: 12rem;
        left: 52%;
    }
    #phone {
        top: 18rem;
        left: 23vw;
    }
    .top-footer__checkboxes {
        font-weight: 400;
        position: absolute;
        top: 28rem;
        left: 23vw;
    }
	
	 .sthml-section__image {
        width: 100%;
		height: 24rem;
		padding: 0rem 3rem;
		margin-top: 35px;
		margin-left: 8px;
    }
    .sthml-section__image--sthml {
    }
	
	
	 
	
	
}

@media only screen and (min-width: 1440px) {
    html {
        font-size: 9px;
    }
    .content {
        font-size: 1.9rem;
    }
}
.top-footer__media a {
  color: #8F6A7E;
  display: inline-block;
  margin: 0 1rem 3rem 1rem;
  font-size: 3rem;
}

@media only screen and (min-width: 1800px) {
    html {
        font-size: 11px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveToLeft {
    from {
        transform: translateX(5rem);
        opacity: .4
    }
    to {
        transform: translateX(0rem);
        opacity: 1
    }
}

@keyframes moveToRight {
    from {
        transform: translateX(-5rem);
        opacity: .4
    }
    to {
        transform: translateX(0rem);
        opacity: 1
    }
}


@media (max-width: 767px) {
.needs-titles {

    width: 33vw;

}

.members-area {
    width: 100vw;
    
}


.sthml-section__image {
        width: 100vw;
        padding: 13rem 27rem ;
		margin-left: -2rem;
    }
    .sthml-section__image--sthml {
        display: inline-block;
        vertical-align: top;
    }
	
	.sthml-section__title {
    font-size: 6rem;
    font-weight: 500;
	padding-top:0px;
    transform: translateY(-50%);
}
.members-area__wrapper{
	width:90%;
}



}


.flexContainer {
    display: flex;
    flex-direction: column;
    
}
.flexSpaceAround {
    justify-content: space-around;
}
.subContainer {
    width: 80%;
    margin: 0 auto;
}
.active-video-col {
    width: 80%;    
    background: white;
    padding: 20px;
} 

.video-thumbnail-col {
    display: flex;    
    width: 20%;    
    background: #DED3D9;
    vertical-align: middle;
    /*padding: 20px;*/
}  

@media (min-width: 767px){
    .parallax {
    background-image: url(../Materials/HelMap.jpg);
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}

