.founder-scroller {
	  display: flex;
	  flex-direction:row;
	  overflow-x: auto;
	  width: 63vw;
	
	}
	
	.founder-scroller-div {
	 margin-left: -5px;
	  margin-right: 5px;
	  margin-bottom: 25px;
	 
	}

.founders-logo-area {
    background-color: transparent;
	padding: 1px 0 10px;
	border-radius: 5px;
	width: 100%;
}

