.header {
    height: 23vh;
	background-color: #422736;
    position: relative;
}


.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 6rem;
	z-index: 5
	
}

.header__logo {
    height: 3rem;
}

.fa-bars {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    font-size: 8rem;
    z-index: 3;
    color: white;
}

.header__menu {
    display: none;
    background-color: rgba(76, 91, 92, 0.95);
    position: absolute;
    text-align: center;
    top: 0;
    width: 100vw;
    height: 90rem;
    z-index: 2;
}

.header__menu ul {
    line-height: 2.6;
    position: absolute;
    left: 0;
}

.header__menu ul a {
    text-decoration: none;
}

.header__menu ul li:active {
    background-color: grey;
}

.header__navigation {
    list-style: none;
    position: absolute;
    top: 10rem;
    right: 1rem;
}

.header__menu .header__navigation li {
    text-decoration: none;
    color: white;
    font-size: 5rem;
}

.header__text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    font-size: 4.7rem;
    font-weight: 300;
}

.heading-primary--main {
    display: block;
    line-height: 0;
}

.heading-primary .heading-primary--main b {
    font-weight: 900;
    color: #f45053;
}

.heading-primary--sub {
    display: block;
}

.header__information {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
    font-size: 1.2rem;
}

.header__information li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.header__detail--data {
    font-size: 2.3rem;
    font-weight: 500;
}